.Button {
    background-color: #276be7;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-size: 1em;
    padding: 13px;
    text-decoration: none;
    width: 130px;
}

.Button-small {
    font-size: 0.8em;
    padding: 5px;
    margin-right: 5px;
    text-align: center;
    width: 90px;
}

.Button-mid {
    font-size: 0.8em;
    padding: 8px;
    margin-right: 5px;
    text-align: center;
    width: 100px;
}

.Button:hover {
    background-color: #205bc7;
}

.Button > * {
    color: white;
    text-decoration: none;
}

.Button-negative {
    background-color: #6a6a6a;
}

.Button-negative:hover {
    background-color: #555555;
}
