.Results-box {
    margin-bottom: 20px;
}

.Results-title {
    color: #373737;
    font-size: 2.2em;
    letter-spacing: 2px;
}

.Results-title-box {
    margin: 20px 0 15px 0;
}

.Results-title-smaller-box {
    margin: auto;
    max-width: 800px;
}

.Results-title-smaller {
    color: #373737;
    font-size: 1.2em;
}
